[jsonFiles]
app_info = statistics/app_info_SAU.txt
device_info = statistics/device_info_SAU.txt
contype_dict = statistics/contype_dict_SAU.txt
device_dict = statistics/device_dict_SAU.txt
prev5days_log = statistics/prev5days_log_SAU.txt

[models]
type = xgb
model = model2/20180917_expAndnot4.model
generate_file_dir = testData/gener2/
test_date = 20180918
country = sau

