[task]
train_file = trainn/expNobundleNoadh12/20180917_sau_d5_s50_f1.data
test_file = trainn/expNobundleNoadh12/20180918_sau_d5_s50_f1.data
model_id = NbdNadh12_050503
test_model = models/20180917_N016.model

[boost_param]
max_depth = 1
eta = 0.15
nthread = 40
subsample = 0.1
colsample_bytree = 0.7
colsample_bylevel = 0.7
scale_pos_weight = 100
min_child_weight = 2
lambda = 10


[train_param]
num_boost_round = 1000
early_stopping_rounds = 100

[statistics_file]
train_statistics = testRes/train_statistics.csv
test_statistics = testRes/test_statistics.csv