[task]
train_file = trainn/expNobundleNoad/20180917_sau_d5_s50_f1.data
test_file = trainn/expNobundleNoad/20180918_sau_d5_s50_f1.data
model_id = NbdNad_050501
test_model = model2/20180917_ns0050501.model

[boost_param]
max_depth = 1
eta = 0.15
nthread = 20
subsample = 0.3
colsample_bytree = 0.7
colsample_bylevel = 0.7
scale_pos_weight = 50
min_child_weight = 1
lambda = 10


[train_param]
num_boost_round = 250
early_stopping_rounds = 500

[statistics_file]
train_statistics = testRes/train_statistics.csv
test_statistics = testRes/test_statistics.csv